xml/example.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="wechatContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contact" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="tag"/>
              <xs:element type="xs:string" name="alias"/>
              <xs:element type="xs:string" name="gender"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>